/*base css*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Rubik', sans-serif;
}
.body-bg {
    background-image: url(../img/bg/body-bg.jpg);
    background-position: center center;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
body.mobile-mode.side-nav-on-action .u-sidebar::before, body.tablet-mode .u-sidebar::before, body.desktop-mode .u-sidebar::before {
     opacity: 0; 
}
.card {
    background-color: rgba(255,255,255,.75) !important;
    border: 1px solid #fff;
}
.card-header,
.u-sidebar-inner {
    background-color: rgba(255,255,255,.75) !important;
    border: 1px solid #fff;
}
.menu-dots-wrap {
    position: relative;
    padding-right: 12px;
}
.menu-dots {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.menu-dots-action {
    padding: 0 15px;
    display: inline-block;
}

@media (min-width: 992px) {
    .u-header {
        padding: 10px 5px;
        margin: 30px 30px 0;
    }
}
.mCustomScrollBox {
    margin-bottom: 30px;
    display: inline-block;
}
.u-main {
    background-color: transparent;
    margin-bottom: 30px;
    margin-left: 30px;
}
.mini.action .u-sidebar-inner {
    padding: 1.5rem .5rem;
    transition: all 0.3s ease-out;
}
.u-logo-desktop,
.u-logo-mobile {
    transition: all 0.3s ease-out;
}
.desktop-mode.side-nav-on-action .u-logo-desktop {
    opacity: 0;
    visibility: hidden;
    display: none;
}
.desktop-mode.side-nav-on-action .u-logo-mobile {
    display: block;
}
@media (min-width: 768px) {
    .u-sidebar-inner {
        padding: 1.5rem 1rem;
    }    
}

.u-sidebar {
    margin-top: 30px;
}
.bg-gr {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6b15b6+0,68acff+100 */
    background: #6b15b6; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #6b15b6 0%, #68acff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #6b15b6 0%,#68acff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #6b15b6 0%,#68acff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b15b6', endColorstr='#68acff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.row.mb-3 {
    margin-bottom: 30px !important;
}


/*nice-select start*/
.nice-select {
    width: 100%;
    border: 0;
    box-shadow: 0 0 3px #ccc;
}
.nice-select span.current {
    color: rgba(31,5,103,.39);
}
.nice-select:after {
    border-color: #8F67FF;
    border-bottom: 3px solid #8F67FF;
    border-right: 3px solid #8F67FF;
    height: 7px;
    width: 7px;
}
/*nice-select end*/
/*side menu*/
.u-sidebar-nav-menu__link.active, .u-sidebar-nav-menu--top-level > .u-sidebar-nav--opened > .u-sidebar-nav-menu__link {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6b15b6+0,68acff+100 */
    background: #6b15b6; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #6b15b6 0%, #68acff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #6b15b6 0%,#68acff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #6b15b6 0%,#68acff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b15b6', endColorstr='#68acff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.u-sidebar-nav-menu--second-level .u-sidebar-nav-menu__link.active, .u-sidebar-nav-menu--second-level .u-sidebar-nav-menu--top-level > .u-sidebar-nav--opened > .u-sidebar-nav-menu__link {
    color: #ccc;
}

.u-sidebar-nav-menu__link {
    color: #6b15b6;
}
.u-sidebar-nav-menu__item-icon {
    color: #6b15b6;
}
.u-sidebar-nav-menu__item-arrow {
    color: #6b15b6;
}






/*highlight*/
.card.single-highlight {
    padding: 50px 10px;
    margin-bottom: 30px;
}
.card.single-highlight .card-body {
    padding: 0.95rem;
}
.highlight-icon-image {
    height: 40px;
}
.highlight-text .h2 {
    font-size: 32px;
    font-weight: 700;
    color: #1F0567;
}
.highlight-text h3 {
    color: #1F0567;
    font-size: 20px;
}





.u-sidebar-invoker {
    color: #6b15b6;
}
/*header-search*/
.header-search {
    position: relative;
}

.header-search input {
    width: 100%;
    border: 0;
    padding: 8px 10px;
    border: 1px solid rgba(31,5,103,.75);
    border-radius: 2px;
}

.header-search button {
    position: absolute;
    left: 100%;
    margin-left: -1px;
    top: 0;
    height: 100%;
    border: 0;
    color: #fff;
    padding: 0 15px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer;
}













/*box-btn*/
.box-btn {
    color: #fff;
    border-radius: 3px;
    overflow: hidden;
    padding: 9px 22px;
    font-size: 18px;
    border: 0;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease-out;
    
    
    
    
    background: #6b15b6;
    background: -moz-linear-gradient(-45deg, #6b15b6 0%, #68acff 100%);
    background: -webkit-linear-gradient(-45deg, #6b15b6 0%,#68acff 100%);
    background: linear-gradient(135deg, #6b15b6 0%,#68acff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b15b6', endColorstr='#68acff',GradientType=1 );
}
.box-btn:hover {
    color: #ccc;
}
/*box-btn*/    




/*dashbord body*/
header.section-header h2.h3 {
    font-size: 25px;
    color: #1F0567;
    font-weight: 700;
}


.chart-heading {
    margin-bottom: 18px;
    margin-left: 64px;
    font-size: 19px;
    font-weight: 600;
    color: #8F67FF;
}






















/*category page*/
.single-category {
    margin-bottom: 30px;
}
.category-image img {
    width: 100%;
    margin-bottom: 17px;
}
.category-content h2 {
    font-size: 32px;
    color: #1F0567;
    margin-top: 10px;
    margin-bottom: 25px;
}
.category-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
}

.category-content ul li {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #8F67FF;
    color: #1F0567;
    font-size: 16px;
}

.category-content ul li:first-child {
    border-top: 1px solid #8F67FF;
}

.category-content .btn {
    display: inline-block;
    border: 1px solid;
    min-width: 75px;
    text-align: center;
    margin: 10px 8px 0;
    color: #8F67FF;
}
































































/*categorry-add page start*/
.category-add-form-wrap {
    padding: 80px 120px;
    background: rgba(255,255,255,.75);
    border-radius: 3px;
}
.form-group {
    margin-bottom: 25px;
}
.form-group:last-child {
    margin-bottom: 0;
}
.form-group label {
    display: block;
    color: #1F0567;
    font-size: 18px;
    margin-bottom: 10px;
}
.form-group textarea.form-control {
    resize: none;
    min-height: 120px;
}
.form-group-fw {
    position: relative;
}

.form-group-fw input {
    display: block;
    width: 100%;
}

.form-group-fw button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    height: 100%;
    padding: 0 13px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


.tc-form label {
    display: block;
    color: #1F0567;
    font-size: 18px;
    margin-bottom: 10px;
}
/*categorry-add page end*/













































































































































.sl-form .box-btn {
    display: block;
    margin-top: 31px;
    padding: 8px 22px;
    text-align: center;
}
.table th {
    color: #1F0567;
/*    font-weight: 700;*/
}
.table {
    color: #1F0567;
}
.table td:nth-child(2),
.table td:nth-child(6),
.table td:nth-child(7) {
    color: #8F67FF;
}
/*
.pagination-wrap.text-center {
    margin: 0 auto;
}
*/

.pagination-wrap.text-center nav {
    margin: 0 auto;
    display: inline-block;
}
.page-item.active .page-link {
    border-color: #6b15b6;
    background: #6b15b6;
}
.page-link:hover {
    border-color: transparent;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6b15b6+0,68acff+100 */
    background: #6b15b6; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #6b15b6 0%, #68acff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #6b15b6 0%,#68acff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #6b15b6 0%,#68acff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b15b6', endColorstr='#68acff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

















































































/*instructor.html*/
table td:nth-child(1) img,
table td:nth-child(2) img {
    width: 60px;
    border-radius: 4px;
}















































































































.new-message-btn-wrap .box-btn {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.recent-messages {
    margin: 0;
    padding: 0;
    list-style: none;
}
.recent-messages li {
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 3px #ccc;
    margin-bottom: 20px;
    background: #fff;
}
.recent-messages li:last-child {
    margin-bottom: 0;
}
.recent-messages li a {
    display: block;
}
.recent-messages li a img {
    width: 100%;
    max-width: 62px;
    border-radius: 4px;
}
.recent-messages li a h4 {
    color: #1F0567;
    font-size: 16px;
    font-weight: 700;
}
.recent-messages li a p {
    margin-bottom: 0;
}

.message-right {
    margin-top: 75px;
}

.message-right h2 {
    color: #1F0567;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.user {
    margin-bottom: 20px;
}

.user img {
    width: 60px;
    border-radius: 4px;
    margin-left: 15px;
}

.user h4 {
    margin-bottom: 0;
    font-size: 24px;
    color: #1F0567;
    font-weight: 700;
}
.send-message-form-wrap {
    padding: 0;
    background-color: transparent;
}








.chat-messages {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    list-style: none;
}
.chat-messages li {
    padding: 5px 0;
    display: block;
}
.chat-messages li.reply {
    text-align: right;
}
.chat-messages li span {
    padding: 15px 15px;
    border-radius: 4px;
    box-shadow: 0 0 3px #ccc;
    display: inline-block;
    width: 48%;
    color: #1F0567;
    background: #fff;
}























































































/*responsive css start*/
.mobile-block {
  display: none; 
}

@media (max-width: 1200px) {
        
}

@media (max-width: 992px) {

}

@media all and (max-width: 768px) {
    .card.single-highlight {
        margin: 15px 0;
    }
    .u-sidebar-inner {
        padding: 1.75rem .5rem; 
    }
    .card.single-highlight {
        margin: 15px 0;
    }
}

@media (max-width: 767px) {
    .u-main {
        margin-left: 0;
    }
    .header-search {
        display: none;
    }
    .u-header-search__mobile-invoker {
        color: #6b15b6;
    }
    header.section-header {
        text-align: center;
    }
    header.section-header .text-right {
        text-align: center!important;
        margin-top: 20px;
    }
    .category-add-form-wrap {
        padding: 60px 30px;
    }
    .message-right-chat-wrap {
        margin-top: 60px;        
    }
    .send-message-form-wrap {
        padding: 60px 0;
    }
}
/*# sourceMappingURL=responsive.css.map */
/*responsive css end*/